# Ignore Maven target directories
**/target/

# Ignore IntelliJ IDEA project files
.idea/

# Ignore JAR files
*.jar

# Make sure to track src and pom.xml files
!**/src/
!pom.xml

# Optionally, ignore other IDE-specific or system files (e.g., .DS_Store on macOS)
.DS_Store

# Ignore Maven wrapper files (if you use it)
.mvn/
